*megaphone
*.o
cp1/ex02/log.log
*.replace
*.test
cp2/ex04/sed
cp2/ex06/HarlFilter
cp2/ex05/harl
cp2/ex03/violence
cp2/ex02/cerveau
cp2/ex01/BraiiiiiiinnnzzzZ
cp2/ex00/BraiiiiiiinnnzzzZ
cp1/ex01/phone_book
cp3/ex00/Fixed1
